html, body{
	font-family: 'Montserrat', sans-serif;
	background: #f9f9fa;
	height: 100%;
}
ul, label{
	margin: 0;
	padding: 0;
	list-style: none;
}
button:disabled{
    background: #e8e8e8 !important;
    cursor: not-allowed;
}
.custom-radio:checked~.custom-control-label::before, .ebn-custom-checkbox:checked~.custom-control-label::before{
    background: #232323 !important;
    border: #232323 !important;
}
.custom-checkbox-label{
    color: #cacccf;
    font-size: 12px;
    padding: 3px 5px;
}
.max-height-1000px{
    max-height: 1000px !important;
}
.text-ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box !important;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.text-ellipsis-line-2{
     -webkit-line-clamp: 2;
}
.text-ellipsis-line-3{
     -webkit-line-clamp: 3;
}
.text-ellipsis-line-4{
     -webkit-line-clamp: 4;
}
.text-ellipsis-line-5{
     -webkit-line-clamp: 5;
}
.w-95{
    width: 95%;
}
.w-5{
    width: 4%;
}
.w-15px{
    width: 15px !important;
}
.f-12px{
    font-size: 12px !important;
}
.h-15px{
    height: 15px !important;
}
.btn{
    font-size: 14px;
    min-width: 100px;
    box-shadow: 0 5px 5px -6px #888;
    border: 0;
    padding: 5px 10px;
}
.btn-success {
    color: #fff;
    background-color: #2ac769;
    border-color: #2ac769;
}
.text-success{
    color:#2ac769 !important;
}
.text-danger{
    color:#fb4e4e !important;
}
.custom-input-group-label{
    font-size: 14px;
    font-weight: 500;
    color: #52575c;
    padding: 10px 0;
}
.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #28a745;
    background-color: #28a745;
    cursor: pointer;
}
.input-group-text{
	display: block;
    background-size: 20px !important;
    min-width: 40px;
    background-position: center !important;
    background-color: #fff !important;
    display: block;
}
.custom-input-link{
    background-position: 10px !important;
    font-size: 14px;
    color: #a0a4a8;
    font-weight: 500;
    padding-top: 8px;
}
.small-input-group-text{
    font-size: 14px;
    font-weight: 500;
    color: #a0a4a8;
    padding-top: 8px;
}
.close{
    height: 20px;
    width: 20px;
    background-size: contain !important;
    background-position: center !important;
}
.wh-100px{
    width: 100px !important;
    height: 100px !important;
}
.bg-light-blue{
    background: #ecf6ee;
}
.bg-size-13px{
    background-size: 13px !important
}
input::-webkit-input-placeholder{
	font-size: 12px;
    color: #cacccf;
}
.ebn-btn-primary{
	background: #43ccd4;
    color: #fff;
    padding: 12px 0;
    border: none;
    border-radius: .25rem;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
.cancel-btn{
    background: #52575c;
    color: #fff;
    border: 0;
    padding: 5px 10px;
    min-width: 100px;
    border-radius: 0.25rem;
    text-transform: uppercase;
    font-size: 12px;
}
.badge{
	font-weight: 500;
	text-transform: uppercase;
}
.table{
	border: 1px solid #a0a4a8;
	background: #fff;
}
.table thead th{
	border-top: 1px solid #a0a4a8;
	border-bottom: 1px solid #a0a4a8;
	color: #262626;
    font-size: 14px;
}
.table-hover tbody tr:hover {
    color: #262626;
    background-color: #f9f9fa;
}
.table-product-details{

}
.table-product-details img{
	width: 30px;
}
.table-product-details label, td label{
	font-size: 13px;
	margin: 0;
	color: #262626;
}
.table-product-details b{
	font-size: 11px;
}

.cursor-pointer{
	cursor: pointer;
}
.cursor-not-allowed{
	cursor: not-allowed;
}
.ebn-input-select{
    height: calc(1.5em + .5rem + 2px);
    border: 1px solid #ced4da;
    background: #fff;
    font-size: 14px;
    color: #232323;
}
.ebn-input-select:hover, .show>.btn-outline-secondary.dropdown-toggle{
    background-color: #232323 !important;
    border-color: #232323 !important;
}
/*color styles*/
.default-text-color{
	color: #cacccf;
}
.secondary-text-color{
	color: #52575c;
}
.secondary-bg-color{
    background: #52575c;
}
.secondary-text-gary, .ebn-dissable{
	color: #a0a4a8;
}
/*fonts style*/
.f-22px{
	font-size: 22px;
}
.w-50px{
	width: 50px;
}
.w-10{
	width: 10% !important;
}
.w-90{
	width: 90% !important;
    left: 10% !important;
}
.display-none{
	display: none !important;
}
.bg-size-36px{
	background-size: 25px !important;
}
.home-icon{
	background: url(../icons/Home.png) no-repeat;
}
.seller-acc-icon{
	background: url(../icons/Seller-Acc.png) no-repeat;
}
.products-icon{
	background: url(../icons/Products.png) no-repeat;
}
.report-icon{
	background: url(../icons/Report.png) no-repeat;
}
.sales-icon{
	background: url(../icons/Sales.png) no-repeat;
}
.path-right-icon{
	background: url(../icons/Path-right.png) no-repeat;
}
.email-icon{
	background: url(../icons/email.png) no-repeat;
}
.lock-icon{
	background: url(../icons/lock.png) no-repeat;
}
.filter-icon{
    background: url(../icons/Filter.png) no-repeat !important;
}
.add-user-icon{
    background: url(../icons/Add-user.png) no-repeat !important;
}
.search-gray-icon{
    background: url(../icons/Search-gray.png) no-repeat !important;
}
.edit-user-icon{
    background: url(../icons/Edit-user.png) no-repeat;
}
.delete-icon{
    background: url(../icons/delete.png) no-repeat;
}
.view-icon{
    background: url(../icons/View.png) no-repeat;
}
.create-user-icon{
    background: url(../icons/create-user.png) no-repeat;
}
.profile-pic-icon{
    background: url(../icons/profile-pic-icon.png) no-repeat;
}
.success-icon{
     background: url(../icons/successfully-created.png) no-repeat;
}
.delete-red-icon{
     background: url(../icons/delete-red.png) no-repeat;
}
.close-icon{
     background: url(../icons/close.png) no-repeat;
}
.plus-icon{
     background: url(../icons/Plus.png) no-repeat;
}
.link-icon{
     background: url(../icons/Link.png) no-repeat;
}
.upload-pdf-icon{
     background: url(../icons/Upload-PDF.png) no-repeat;
}
.upload-image-icon{
     background: url(../icons/Upload-Image.png) no-repeat;
}
/*nav bar style starts here*/
.nav-icon{
	height: 25px;
    width: 50px;
    background-position: center;
    background-size: contain;
}
.parent-nav-li{
	cursor: pointer;
}
.parent-nav-li div label{
	color: #A0A4A8;
	font-weight: 600;
	cursor: pointer;
    font-size: 14px;
}
.parent-nav-li div:hover{
	color: #fff;
	background: #000;
}
.parent-nav-li-active{
	background: #000;
}
.child-nav-li-active{
	background: #262626;
}
.child-nav-li div:hover{
	background: #262626;
}
.copyrights{
	position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.copyrights p{
	font-size: 12px;
    text-align: center;
    color: #52575c;
}
/*navbar styles starts here*/
.ebn-navbar-container{
	width: 15%;
	transition: 0.2s ease;
	background-color: #fff;
    position: fixed;
    bottom: 0;
    top: 0;
}
.navbar-header{
	height: 60px;
	box-shadow: 0 5px 5px -6px #888;
}
.navbar-header img{
    width: 130px;
    margin: auto;
    display: block;
    padding-top: 10px;
}
.navbar-body{
	box-shadow: 0px 5px 5px #888;
    position: relative;
    height: 100%;
    background: #fff;
}
.child-nav-ul{
	/*display: none;*/
    overflow-y: hidden;
    max-height: 0;
    transition: max-height 0.5s ease;
}
.logo-small{
	width: 50px !important;
}
/*nav bar style ends here*/

/*main container style*/
.ebn-light-green{
	color: #43ccd4;
}
.ebn-hamburger i{
	color: #43ccd4;
	font-size: 25px;
	cursor: pointer;
}
.ebn-notification{

}
.ebn-notification span{
	background: red;
    color: #fff;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    font-size: 11px;
    text-align: center;
    font-weight: bold;
    position: absolute;
    top: -10px;
    left: 12px;
}
.ebn-notification i{
	-ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.ebn-v-border{
	background: #e4e4e4;
	height: 30px;
	width: 2px;
}
.user-tile{

}
.user-tile label{
	font-size: 14px;
    margin: 15px 0 0;
}
.user-tile img{
	width: 50px;
    border: 2px solid #e4e4e4;
    border-radius: 50%;
}
/*navbar styles ends here*/

/*main container styles starts here*/
.ebn-main-container{
	width: 85%;
    position: absolute;
    left: 15%;
}
.main-container-header{
	background: #fff;
	height: 60;
	/*position: fixed;*/
    box-shadow: 0 5px 5px -6px #888;
    /*left: 15%;
    right: 0;
    z-index: 1000;*/
}
.main-container-body{
	
}

/*dashboard tile style starts here*/
.dahboard-tile{
	width: 20%;
    background: #fff;
    padding: 20px 0;
    text-align: center;
    color: #262626;
    box-shadow: 0px 5px 10px lightgrey;
    margin-left: 20px;
    cursor: pointer;
}
.dahboard-tile:nth-child(1){
	margin-left: 0;
}
.dahboard-tile label{
	font-size: 18px;
    font-weight: 500;
    margin: 0;
    cursor: pointer;
}
.dahboard-tile b{
	font-size: 48px;
    font-weight: 400;
}
.dahboard-tile:hover{
	background-image: linear-gradient(#80c13f, #43ccd4);
	color: #fff !important;
}
/*dashboard tile style ends here*/

/*dashbord nav-pills style starts here*/
.nav-pills .nav-link, .nav-pills .show>.nav-link {
    color: #262626;
    background-color: transparent;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0;
}
.nav-pills .nav-link.active {
    color: #262626;
    background-color: transparent;
    border-bottom: 3px solid #43ccd4;
    border-radius: 0;
    padding-bottom: 5px;
}
/*dashbord nav-pills style starts here*/

/*dashboard-card styles start here*/
.dashboard-card{
    background: #fff;
    padding: 20px;
    color: #262626;
    box-shadow: 0px 5px 10px lightgrey;
}
.dashboard-card h4{
	color: #52575c;
	font-size: 12px;
	font-weight: 600;
	margin: 0;
}
.btn-primary {
    color: #52575c;
    background-color: #fff;
    box-shadow: 0 2px 5px lightgrey;
    font-size: 11px;
    font-weight: 500;
    border: none;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle, .btn-primary:hover{
    color: #52575c;
    background-color: transparent;
    border-color: transparent;
}
.ebn-paggination{
	background-color: #fff;
    padding: 14px;
    border-radius: 4px;
}
.ebn-paggination label{
	font-size: 12px;
    font-weight: 500;
    color: #262626;
    margin: 0;
}
.ebn-paggination i{
	font-size: 12px;
}
.ebn-paggination select{
	border: none;
    border-bottom: 2px solid #a0a4a8;
    border-radius: 0;
    padding: 0 14px 0 0;
    font-size: 12px;
    color: #262626;
}
/*dashboard-card styles ends here*/

/*Login style starts here*/
.login-bg{
	background: url(../images/Background@1x.png) no-repeat;
	background-size: 100%;
	background-size: cover;
    padding: 50px;
    height: 100%;
}
.login-container{

}
.login-container h2{
	color: #52575c;
    font-weight: 800;
    font-size: 20px;
    margin-top: 70px;
    margin-bottom: 50px;
}
.login-container a{
	color: #52575c;
    font-size: 16px;
    font-weight: 500;
    display: block;
}
.login-banner{
	background: url(../images/Login-Screen@1x.png) no-repeat;
	background-size: 60%;
    background-position: right;
}
/*Login style ends here*/

/*manage user style starts here*/
.ebn-manage-user-container{
    background-image: linear-gradient(#80c13f, #43ccd4);
    border-radius: 5px;
    box-shadow: 0 5px 5px -6px #888;
}
.ebn-filter{
    box-shadow: none;
    background-size: contain !important;
    background-position: center !important;
    width: 40px;
    margin-left: 15px;
    padding: 0;
}
.ebn-filter-btn{
    background: #232323;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0px 1px #232323 !important;
}
.ebn-filter-btn span{
    height: 20px;
    width: 20px;
    display: inline-block;
    background-position: center !important;
    background-size: contain !important;
    vertical-align: middle;
    margin-right: 5px;
}
.ebn-filter-btn:hover{
    background: #232323;
    color: #fff;
    opacity: 0.8;
    transition: 0.2s ease;
}
.ebn-filter-input{
    border-top-right-radius: .25rem !important;
    border-bottom-right-radius: .25rem !important;
    background-position: 98% 7px !important;
    background-color: #fff !important;
}
.manage-action{

}
.manage-action li a{
    width: 20px;
    height: 25px;
    background-size: contain;
    background-position: center;
    margin: 0 10px;
    cursor: pointer;
    display: block;
}
/*manage user style ends here*/

/*wizard style starts here*/
.ebn-wizard{
    background: #fff;
    box-shadow: 0 5px 5px -6px #888;
    border-radius: 5px;
}
.wizard-container li{
    width: 100%;
    display: none;
}
.wizard-container li:nth-child(1){
    display: block;
}
.ebn-wizard-main-heading{

}
.ebn-wizard-main-heading i{
    height: 30px;
    width: 30px;
    background-size: contain;
    background-position: center;
    margin-right: 10px;
}
.ebn-wizard-main-heading h2{
    margin: 0;
    text-transform: uppercase;
    font-weight: 800;
    color: #52575c;
    font-size: 28px;
}
.ebn-wizard-steps{
    color: #a0a4a8;
    font-size: 22px;
}
.ebn-wizard-steps-active i{
    color: #fff;
    background-image: linear-gradient(#80c13f, #43ccd4) !important;
}
.ebn-wizard-steps-active label{
    color: #52575c;
}
.ebn-wizard-steps i{
    font-weight: 600;
    font-style: normal;
    height: 50px;
    width: 50px;
    background: #fff;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid;
    align-items: center;
    justify-content: center;
    display: flex;
}
.ebn-wizard-steps label{
    align-items: center;
    justify-content: center;
    display: flex;
}
.ebn-wizard-sub-heading h3{
    color: #52575c;
    font-size: 20px;
}
.form-control, .custom-file-label{
    border-color: #a0a4a8;
}
.form-group label{
    color: #a0a4a8;
    font-size: 14px;
}
.custom-file-label::after{
   background: url(../icons/profile-pic.png) no-repeat #fff;
    content: 'Upload';
    background-size: 20px;
    background-position: 10px;
    width: 120px;
    text-align: right;
    font-size: 14px;
    color: #a0a4a8;
    font-weight: 500;
    padding-top: 8px;
}
.custom-file-icon-image::after{
    background: url(../icons/Upload-Image.png) no-repeat #fff;
    background-position: 10px 7px;
    background-size: 16px;
}
.custom-file-icon-pdf::after{
    background: url(../icons/Upload-PDF.png) no-repeat #fff;
    background-position: 10px 7px;
    background-size: 16px;
}
.ebn-wizard-footer{

}
.ebn-wizard-footer button{
    background: #232323;
    color: #fff;
    border: 0;
    padding: 5px 10px;
    min-width: 100px;
    border-radius: 0.25rem;
    text-transform: uppercase;
    font-size: 14px;
}
.ebn-wizard-success{
    text-align: center;
}
.ebn-wizard-success i{
    height: 60px;
    width: 60px;
    display: block;
    background-size: contain;
    background-position: center;
    margin: 25px auto;
}
.ebn-wizard-success p{
    color: #525752;
    font-weight: 500;
}
.ebn-custom-file{
    text-align: center;
    border: 1px solid #a0a4a8;
    border-radius: 5px;
    padding: 30px 0;
    position: relative;
}
.ebn-custom-file input{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    cursor: pointer;
    opacity: 0;
}
.ebn-custom-file i{
    display: block;
    color: #a0a4a8;
    font-size: 28px;
}
.ebn-custom-file b{
    color: #cacccf;
    font-size: 12px;
    font-weight: 500;
    padding-top: 15px;
    display: block;
}
.ebn-panel{
    border: 1px solid #a0a4a8;
    border-radius: 3px;
}
.ebn-panel h3{
    padding: 10px 15px;
    border-bottom: 1px solid #a0a4a8;
    font-size: 14px;
    color: #cacccf;
}
.ebn-panel-body{
    padding: 15px;
}
.add-plan-btn{
    font-size: 12px;
    font-weight: 600;
}
.add-plan-btn i{
    font-size: 18px;
    vertical-align: middle;
}
/*wizard style ends here*/

/*delete modal style starts here*/
.delete-container i{
    height: 50px;
    width: 50px;
    display: block;
    background-position: center;
    background-size: contain;
    margin: 0 auto 10px;
}
.delete-container h3{
    font-weight: 600;
}
/*delete modal style ends here*/

/*product card styles starts here*/
.product-card-container{
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 5px 10px -6px #888;
}
.product-card-container img{
    height: 160px;
}
.product-card-details{
    padding: 15px;
}
.product-card-details h4{
    font-size: 16px;
    font-weight: bold;
    color: #232323;
    margin-bottom: 15px;
}
.product-card-details p{
    font-size: 12px;
    color: #52575c;
    margin-bottom: 15px;
}
.product-price{
    font-size: 14px;
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
.product-primary-label{
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
}
.product-secondary-label{
    display: block;
    font-size: 12px;
    color: #52575c;
}
.product-rating{
    margin-top: 10px;
}
.product-rating i{
    font-size: 12px;
    color: #e8e8e8;
}
.product-rating-active{
    color: #f6d946 !important;
}
.product-add{
    text-align: center;
}
.product-add i{
    font-size: 24px;
    cursor: pointer;
    text-align: center;
}
.btn-product-edit{
    background: #52575c;
    color: #fff;
    border: none;
    font-size: 12px;
    text-transform: uppercase;
    padding: 3px 10px;
    border-radius: 3px;
    font-weight: 600;
    width: 100%;
}
.btn-product-delete{
    background: #fb4e4e;
    color: #fff;
    border: none;
    font-size: 12px;
    text-transform: uppercase;
    padding: 3px 10px;
    border-radius: 3px;
    font-weight: 600;
    width: 100%;
}
/*product card styles end here*/
/*main container styles ends here*/


/**********************  Media query start here *****************************************/
/*tab style*/
@media (min-width: 500px) and (max-width: 1024px) {
  .navbar-header img{
    width: 100px;
    padding-top: 10px;
  }
  .nav-icon{
    height: 15px;
    width: 25px;
    background-size: contain;
  }
  .parent-nav-li div label{
    font-size: 12px;
  }
  
}
@media (min-width: 320px) and (max-width: 499px) {
  .nav-icon{
  	height: 25px;
    width: 50px;
    background-size: 25px
  }
  .parent-nav-li div label{
  	font-size: 14px;
  }
  .path-right-icon{
  	background-size: 7px;
  }
  .login-container{
  	margin: auto;
  }
  .login-banner, .ebn-wizard-steps label, .ebn-hamburger{
  	display: none;
  }
  .w-95{
    width: 90%;
  }
}

/**********************  Media query ends here *****************************************/